/*style of nav bar*/
nav {
    font-size: large;
    background-color: black;
    /* #3C403D; */
    width: 100%;
    text-align: center;
    padding: 0;
}
 /* aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}  */
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
/*hover to nav bar*/
li a:hover {
    background-color: #111;
}

/* css grid layout for home page */
body {
    margin: 40px;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  .content {
    grid-area: content;
    position: relative;
  }
  
  .header {
    grid-area: header;
  }
  
  .footer {
    grid-area: footer;
  }
  
  .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 200px 200px 200px;
      grid-template-areas:
      "header  header  header"
      "sidebar content content"
      "footer  footer  footer";
      background-color: #fff;
      color: #444;
    }
  
  
  .box {
    background-color: #FFFFFF;
    color: #fff;
    border-radius: 5px;
    padding: 50px;
    font-size: 100%;
  }
  
  .header,
  .footer {
    background-color: #999;
  }
  
  .topleft {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .topright {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
  }



body {
    /*display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows:  10vw 30vm;
    grid-gap: 1em;*/
    font-family: Helvetica, sans-serif;
    /* background-color:#E8CEBF; */
    background-color:#DADED4;
    margin: 0 auto;
    max-width: 100em;
    padding: 1em 0;
}
.highlight {
    background-color: lightblue;
    color:#3C403D;
    margin: auto;
    font-weight: bold;
    font-size: 14pt;
}
h1 {
    color: #3C403D;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    padding: 5px;
    margin:0;
}
h2, h3 {
    /* font-family: 'Trebuchet MS', sans-serif; */
    font-family: 'Courier New', monospace;
    margin:0;
    padding:5 px;
    border: 1px solid #ddd;
    color:  #8076a3;
    background: #e5eaf5; 
    font-size: 18px;
}
/* h3 {
  font-family: 'Courier New', monospace;
} */

h2:hover {
    background: #a0d2eb;
    /* #e5eaf5; */
    color: #a28089;
}

h4 {
    /* color: gray; */
    font-family: 'Courier New', monospace;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    padding:0;
}
h1:hover {
    background:#fbe3e8;
    color:  #5cbdb9;
}

 #full {
  max-width: 100%;
  height: auto;
} 

/*style of table*/
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #39603D;
    color: white;
}

 p {
     background: #A3BCB6; 
    color:#494D5F;
    font-family: cursive;
    padding: 10px 15px 10px 10px; 
    background-color: lightgoldenrodyellow;
    /* text-align: left; */
} 
p:hover {
  background:lightgrey;
  color:  brown;
}

ul {
    display: inline-flex;
}

li {
    margin-left: 30px;
}

/* table {
    display: inline-flex;
    border-spacing: 50px 0;
}

td {
    margin-left: 30px;
    padding: 10px 0;
} */

table, th, td 
            {
                border: solid 1px #DDD;
                border-collapse: collapse;
                padding: 2px 3px;
                text-align: center;
            }
            th {
                font-weight:bold;
            }
    
            /* Image Transparency */
.img {
    /* border-radius: 50%; */
    opacity:1;
    position: relative;

}
img:hover
{
opacity:0.5;
}

#printnotice {
    display: none;
}


.lightbox {
    background: rgba(0, 0, 0, 0.8);
}
.lightbox-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: calc(100vh - 90px);
}

.output {
    font-weight:bold;
  }
  #payment {
    text-decoration:underline;
  }
  #graph {
    border:solid black 1px;
  }
  th, td {
    vertical-align: top;
  }

  /* animate button */
  .button {
    position: relative;
    background-color: #555555;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  

  /* count down css */
  .timer {
    display: flex;
  }
  .boxx {
    position: relative;
    background-color:  #E8CEBF;
    color: black;
    height: 300px;
    width: 350px;
    margin: 4px;
    font-size: 3.2rem;
    text-align: center;
    box-shadow: 2px 12px 18px 4 px #333;
  }
  .boxx h4 {
    position: center;
    bottom: 0;
    background-color:  #5cbdb9;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 6px 0; 

  } 

  
  
  
  /* float image &text */

  .TextWrap {
    height:200px;
     width:200px;
    float: left; 
    margin: 3px 12px 3px 0px; border: 1px solid #000000;
  }
  .TextWrapL {
    float: left;
    margin: 10px;
  }
  .TextWrapR {
    float: center;
    margin: 10px;
    width: 40%;
  }


  table {
    width: 100%;
  }
  
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 15px;
    text-align: left;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  
  table#t01 tr:nth-child(odd) {
    background-color: #fff;
  }
  
  table#t01 th {
    background-color: #6B8E23;
    color: white;
  }

/* resume hover over */
#content {
  display: none;
}
input[type="text"]{
    color: transparent;
    text-shadow: 0 0 0 blue;
    padding: 6px 12px;
    width: 150px;
    cursor: pointer;
}
input[type="text"]:focus{
    outline: none;
}
input:focus + div#content {
  display: block;
}
/* DOG gallery reponsive */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Slide in Overlay from the Bottom */
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* photo gallery */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* summary of 2020  */
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: lightblue;
  padding: 20px;
}

/* image side by side */
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*responsive with csss for trip */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

/* mutual slide show */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}