<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hello!</title>
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    <h1>Dog Gallary</h1>
    <div>
      <h2>Poodle</h2>
      <img class="image" src="https://images.unsplash.com/photo-1590369662567-13c3a75a6359?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjR8fHBvb2RsZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Poodle" >
    </div>

    <div>
      <h2>Labrador</h2>
      <img class="image" src="https://images.unsplash.com/photo-1552053831-71594a27632d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8ZG9nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Labrador" >
    </div>

    <div>
      <h2>Corgi</h2>
      <img class="image" src="https://images.unsplash.com/photo-1590369662567-13c3a75a6359?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjR8fHBvb2RsZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Corgi" >
    </div>

    <div>
      <h2>Husky</h2>
      <img class="image" src="https://images.unsplash.com/photo-1590926553754-432ce32b2d0d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80" alt="Husky" width="500" height="700">
    </div>
    <p>
      If you have interest, feel free to fond more cute pet pictures <a href="https://unsplash.com/s/photos/dog">Explore More</a>!
    </p>


    
<div id="app">
  <li class="nav-item" @mouseover="homeLink = !homelink" @mouseleave="homeLink=false">
      <img v-if="homeLink" class="logo" src="https://picsum.photos/300/200?image=244" />
      <img v-else src="https://picsum.photos/300/200?image=1024" />
  </li>
  
  
</div>

        
<div id="apb">
  <li class="nav-item" @mouseover="homeLin = !homelin" @mouseleave="homeLink=false">
 
      <img v-if="homeLink" class="logo" src="https://picsum.photos/300/200?image=244" />
      <img v-else src="https://picsum.photos/300/200?image=1024" />
  
    </a>
  </li>
</div>